@using TodoList.Core.DTOs;
@model IEnumerable<TaskDTO>

@if (Context.User.Identity.IsAuthenticated == true)
{
    <div class="tasks">
        @if (Model.Count() == 0)
        {
            <span class="tasks__text text">Немає жодних задач</span>
        }

        <div class="tasks__inner">
            @foreach (var task in Model)
            {
                @(await Component.InvokeAsync("Task", task))
            }
        </div>

        <div id="create-task" class="button tasks__button">додати нову задачу</div>
    </div>
}
else 
{
    <p class="text">Ввійдіть/Зареєструйтесь щоб працювати з TodoList</p>
}

@section Styles 
{
    <link href="~/styles/task.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

@section Scripts 
{
    <script type="module" src="~/scripts/Task.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
        crossorigin="anonymous"></script>
}