@model TodoList.Web.ViewModels.AuthenticationViewModels.LoginViewModel;

<form class="form" method="post" action="Login">
    <input class="input form__input" asp-for="Login" placeholder="логін" />
    <input class="input form__input" asp-for="Password" placeholder="пароль" /> 
    <button class="button form__button">ввійти</button>
</form>

<div class="validation-list" asp-validation-summary="All"></div>

<a class="button button--google" asp-controller="Authentication" asp-action="LoginByGoogle">ввійти за допомогою Google</a>

@section Styles {
    <link href="~/styles/form.css" rel="stylesheet" />
}