@model TodoList.Web.ViewModels.AuthenticationViewModels.LoginViewModel;

<form class="form" method="post" action="Login">
    <input class="input form__input" asp-for="Login" placeholder="логін" />
    <input class="input form__input" asp-for="Password" placeholder="пароль" />
    <input class="input form__input" asp-for="ConfirmPassword" placeholder="підтвердження" />
    <button class="button form__button">зареєструватися</button>
</form>

<div class="validation-list">
    <span asp-validation-for="Login"></span>
    <span asp-validation-for="Password"></span>
    <span asp-validation-for="ConfirmPassword"></span>
</div>

@section Styles {
    <link href="~/styles/form.css" rel="stylesheet" />
}