:root {
    --shadow: #00000011;
    --main-width: 400px;
    /**/
    --text-primary: #ffffff;
    --text-secondary: #ffffff99;
    --text-focused: #000;
    --text-button: var(--text-primary);
    --placeholder-focused: #00000066;
    /**/
    --page-background: #b04632;
    --button-background-hover: var(--background-primary-hovered);
    --input-background-focus: var(--background-primary-focused);
    --element-background: var(--background-primary);
    --background-primary: #ffffff33;
    --background-primary-hovered: #ffffff66;
    --background-primary-focused: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--page-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: var(--main-width);
    display: flex;
    margin-bottom: 10px;
}

.header > * {
    width: 50%;
}

.header > *:not(:last-child) {
    margin-right: 7px;
}

/*.header__button {
    width: 50%;
}*/

.main {
    width: var(--main-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border: 0;
    text-align: center;
    padding: 7px 15px;
    border-radius: 10px;
    color: var(--text-button);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    flex: 1 1 auto;
    cursor: pointer;
    background: var(--element-background);
    box-shadow: 0 0 10px 0 var(--shadow);
    transition: .15s;
}

.button:hover {
    background: var(--button-background-hover);
}

.text {
    color: var(--text-secondary);
    display: inline-block;
}